<div style="padding: 13px;">
  <h1>Hello users</h1>
  <mat-spinner *ngIf="users.length === 0"></mat-spinner>

  <mat-card *ngFor="let user of users" style="margin-top:10px;">
    <mat-card-header>
      <mat-card-title>{{user.name}}</mat-card-title>
      <mat-card-subtitle>{{user.age}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{user.username}}
      </p>
      <!--      <img style="height:100%; width: 100%;" src="{{ product.imageUrl }}" />-->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button> Get User</button>
    </mat-card-actions>
  </mat-card>
  <form (ngSubmit)="onSubmit()" >
    <div>
      <label for = "name">
        Name
      </label>
      <input id = "name" type = "text" formControlName="name">
    </div>
    <button type="submit">
      Create User
    </button>
  </form>
</div>

